@import 'variables.scss';

//icon colors
.icon-midnight_green {
  fill: $midnight_green !important;
}
.icon-medium_turquoise {
  fill: $medium_turquoise !important;
}
.icon-mint_cream {
  fill: $mint_cream !important;
}
.icon-bittersweet {
  fill: $bittersweet !important;
}
.icon-yellow_crayola {
  fill: $yellow_crayola !important;
}

//background colors
.bg-midnight_green {
  background-color: $midnight_green !important;
}
.bg-medium_turquoise {
  background-color: $medium_turquoise !important;
}
.bg-mint_cream {
  background-color: $mint_cream !important;
}
.bg-bittersweet {
  background-color: $bittersweet !important;
}
.bg-yellow_crayola {
  background-color: $yellow_crayola !important;
}

//text colors
.text-midnight_green {
  color: $midnight_green !important;
}
.text-medium_turquoise {
  color: $medium_turquoise !important;
}
.text-mint_cream {
  color: $mint_cream !important;
}
.text-mint_cream {
  color: $mint_cream !important;
}
.text-yellow_crayola {
  color: $yellow_crayola !important;
}
.text-white {
  color: #fff !important;
}
.text-black {
  color: #000 !important;
}