//application fonts
@font-face {
  font-family: 'Montserrat';  
  src: url('./../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';  
  src: url('./../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'BirdyGame';  
  src: url('./../fonts/birdy-game/Birdy-Game.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'PokemonSolid';  
  src: url('./../fonts/pokemon-solid/Pokemon-Solid.ttf') format('truetype');  
}