/* You can add global styles to this file, and also import other style files */

$midnight_green : #1A535C;
$medium_turquoise : #4ECDC4;
$mint_cream : #F7FFF7;
$bittersweet : #FF6B6B;
$yellow_crayola : #FFE66D;